<!DOCTYPE html>
<html dir="ltr" lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    <head>
        <!-- INCLUDE HEADER -->

            <!-- <vtex:template id="include-header" /> -->

            <!-- HTML GERADO -->

            <!-- APAGAR -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <!-- /APAGAR -->

            <title>Home</title>

            <!-- css geral -->
            <link rel="stylesheet" type="text/css" href="../../src/arquivos/amazon.css" />
            <!-- css geral -->

            <!-- APAGAR -->
            <script type="text/javascript" src="../../src/scripts/vendor/jquery-1.8.3.min.js"></script>
            <!-- /APAGAR -->

            <!-- Favicon -->
            <link href="/arquivos/favicon.ico" rel="shortcut icon" />
            <link href="/arquivos/favicon.ico" rel="apple-touch-icon" />
            <!-- Favicon -->

            <!-- viewport -->
            <meta name="viewport" content="width=, initial-scale=1, minimum-scale=1.0" />
            <!-- viewport -->

            <!-- plugin modernizr -->
            <script type="text/javascript" src="../../src/scripts/vendor/modernizr.min.js"></script>
            <!-- plugin modernizr -->

            <!-- HTML GERADO -->

        <!-- /INCLUDE HEADER -->
    </head>

    <body>
        <div class="page-wrapper">

            <div class="page-content">

                <!-- HEADER -->
                <vtex:template id="header" />
                <!-- /HEADER -->


                <main class="page-main" role="main">

                    <!-- # -->

                </main><!-- page-main -->
                <div class="clearfix"></div>
            </div><!-- /page-content -->

            <!-- FOOTER -->
            <vtex:template id="footer" />
            <!-- /FOOTER -->

        </div><!-- /page-wrapper -->

        <!-- INCLUDE SCRIPTS -->
        <!-- <vtex:template id="include-scripts" /> -->

        <!-- HTML GERADO -->
        <script src="../../src/scripts/modules/amazon.min.js"></script>
        <!-- HTML GERADO -->
        <!-- /INCLUDE SCRIPTS -->
    </body>
</html>